@import url('https://fonts.googleapis.com/css2?family=Inter&family=Oswald&family=Roboto:wght@300&family=Zen+Kaku+Gothic+New&display=swap');

body {
  margin: 0;
  top: 0;
  font-family: 'Zen Kaku Gothic New', sans-serif;
}